@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

.head-container {
  /* padding: 3vh 1vw; */
  padding-bottom: 30px;
}
.head-row {
  border-bottom: 1px solid rgb(32, 32, 32);
  padding: 3vh 1vw;
}

.username {
  font-size: 1.4rem;
  font-weight: 700;
}

.bio {
  font-size: 1.3;
  font-weight: 400;
}

.card {
  text-align: left;
  width: 100%;
  margin: 1.5vh 1vw;
  background-color: rgb(39, 38, 38);
}
.link-button {
  width: 100%;
}

.link {
  width: 100%;
}

.become-creator-button {
  float: right;
}
