frontend/samaj/node_modules/
frontend/samaj/.firebase/
frontend/samaj/firebase.json
frontend/samaj/.firebaserc
frontend/samaj/yarn.lock
frontend/samaj/package-lock.json

backend/config.js
backend/node_modules/
backend/package-lock.json