.landingpage {
  min-height: 100vh;
  min-width: 100vw;
  color: rgb(175, 173, 171);
}

.left-column {
  background-image: linear-gradient(rgb(17, 17, 17), rgb(24, 24, 24));
  height: 100%;
  min-height: 150vh;
}

.middle-column {
  background-image: linear-gradient(rgb(12, 12, 12), rgb(14, 14, 14));
  border-left: rgb(59, 59, 59) solid 1px;
  border-right: rgb(59, 59, 59) solid 1px;
  height: 100%;
  min-height: 150vh;
}

.right-column {
  background-image: linear-gradient(rgb(17, 17, 17), rgb(24, 24, 24));
  height: 100%;
  min-height: 150vh;
}
